only-built-dependencies[] = esbuild
only-built-dependencies[] = sharp
only-built-dependencies[] = unrs-resolver
only-built-dependencies[] = @esbuild/linux-x64
only-built-dependencies[] = @esbuild/linux-arm64
only-built-dependencies[] = @esbuild/darwin-arm64
only-built-dependencies[] = @esbuild/darwin-x64
only-built-dependencies[] = @unrs/resolver-binding-darwin-arm64
only-built-dependencies[] = @unrs/resolver-binding-darwin-x64
only-built-dependencies[] = @unrs/resolver-binding-linux-x64-gnu
only-built-dependencies[] = @unrs/resolver-binding-linux-x64-musl
only-built-dependencies[] = @unrs/resolver-binding-linux-arm64-gnu
only-built-dependencies[] = @unrs/resolver-binding-linux-arm64-musl
only-built-dependencies[] = @unrs/resolver-binding-android-arm-eabi
only-built-dependencies[] = @unrs/resolver-binding-android-arm64
only-built-dependencies[] = @unrs/resolver-binding-freebsd-x64
only-built-dependencies[] = @unrs/resolver-binding-linux-arm-gnueabihf
only-built-dependencies[] = @unrs/resolver-binding-linux-arm-musleabihf
only-built-dependencies[] = @unrs/resolver-binding-linux-loong64-gnu
only-built-dependencies[] = @unrs/resolver-binding-linux-loong64-musl
only-built-dependencies[] = @unrs/resolver-binding-linux-ppc64-gnu
only-built-dependencies[] = @unrs/resolver-binding-linux-riscv64-gnu
only-built-dependencies[] = @unrs/resolver-binding-linux-riscv64-musl
only-built-dependencies[] = @unrs/resolver-binding-linux-s390x-gnu
only-built-dependencies[] = napi-postinstall
